body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(135deg,#e4e6ef,#e2e2e2);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    background: #1e4b66;
    color: white;
    padding: 0px;
    align-items: center;
    gap:300px;
}

header h1{
    margin-left: 50px;
}

header p{
    font-size: 1.5em;
    margin-top: 0;
}

nav ul{
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

img{
    display: none;
    width: 35px;
    position: absolute;
    top:40px;
    right:30px;
}


main{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

main{
    font-size: 19px;
    display: inline-block;
    background: linear-gradient(135deg,#edeef3,#e2e2e2);
    padding: 120px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    
}

/*Style pour le pied de page*/

footer{
    background: linear-gradient(135deg,#edeef3,#e2e2e2);
    color: #000000;
    text-align: center;
    padding: 5px;
}

