/* Style pour la section presentation*/

.presentation{
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 40px 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5 10px rgba(0,0,0,0.5);
    

}

.photo-container img{
    width: 350px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.bio{
    max-width: 600px;
    flex: 1;
}

.bio h2{
    margin-top: 0;
}

.bio p{
    line-height: 1.6;
    font-size: larger;
}


/* Style pour le body de toutes les pages*/

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: linear-gradient(135deg,#edeef3,#e2e2e2);
    color: #333;
}

header{
    display: flex;
    background: #1e4b66;
    color: white;
    padding: 0px;
    align-items: center;
    gap:350px;
}

header h1{
    margin-left: 50px;
}


header p {
    margin: 5px 0 0;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;

}
main {
    padding: 20px;
}



/* Style pour les sections de toutes les pages*/


section {
    background:#fff;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


/* Style pour la page Competences*/


.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 55px;
}

.skill {
    background: #35424a;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.9em;
}


/* Style pour le bas de la page*/

footer {
    text-align: center;
    padding: 15px;
    color: black;
    margin-top: 30px;
    
}

/* Style pour la page de parcours*/

.parcours {
    padding: 40px 20px;
    text-align: center;
    background-color: #fdfdfd;
}

.ecole-card {
    display: inline-block;
    width: 300px;
    margin: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(5, 6, 6, 0.1);
}

.ecole-card img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.ecole-card h3 {
    margin: 10px 0 5px;
    font-size: 1.1em;
    color: #333;
}

.ecole-card p {
    font-size: 0.95em;
    color: #666;
}


/*Style pour le formulaire*/

form{
    border: solid rgb(87, 82, 82);
    margin-right: 40px;
    width: 450px;
    
}

.inform{
    margin: 30px;
}



